.footer .van-tabbar-item--active {
  color: #fa7528
}

.otherLogin[data-v-5fe48061] {
  width: 100%;
  padding-bottom: .88rem
}

.otherLogin .personal-invalidate[data-v-5fe48061] {
  color: #ff8727;
  font-size: .28rem;
  text-align: center
}

.otherLogin .net-line[data-v-5fe48061] {
  font-size: .28rem;
  color: #666;
  margin-top: .8rem;
  position: absolute;
  text-align: center;
  width: 100%
}

.otherLogin .net-line div[data-v-5fe48061] {
  line-height: .4rem
}

.otherLogin .net-line div[data-v-5fe48061]:after,.otherLogin .net-line div[data-v-5fe48061]:before {
  position: absolute;
  top: 50%;
  background: #ddd;
  content: "";
  height: 1px;
  width: 1.9rem
}

.otherLogin .net-line div[data-v-5fe48061]:after {
  left: .98rem
}

.otherLogin .net-line div[data-v-5fe48061]:before {
  right: .98rem
}

.otherLogin .net-login[data-v-5fe48061] {
  text-align: center;
  margin-top: 1.68rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1.66rem;
  padding-right: 1.66rem;
  box-sizing: border-box
}

.otherLogin .net-login .iconPic[data-v-5fe48061] {
  width: .8rem;
  height: 1.2rem
}

.otherLogin .net-login .iconPic .dada[data-v-5fe48061] {
  width: .6rem;
  height: .6rem
}

.otherLogin .net-login .li[data-v-5fe48061] {
  width: .96rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: .24rem;
  color: #666
}

.pu-verify[data-v-9213c542] {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding-top: .7rem;
  height: 100vh
}

.pu-verify .card-id[data-v-9213c542],.pu-verify .pv-top[data-v-9213c542] {
  height: .88rem;
  width: 100%;
  position: relative
}

.pu-verify .card-id[data-v-9213c542] {
  display: flex;
  background: #fff;
  margin-top: .4rem;
  padding-left: .3rem;
  box-sizing: border-box
}

.pu-verify .card-id .card-id-type[data-v-9213c542] {
  height: .88rem;
  line-height: .8rem;
  font-size: .36rem
}

.pu-verify .card-id .card-id-type .van-icon[data-v-9213c542] {
  position: relative;
  right: .1rem;
  top: 1px
}

.pu-verify .card-id input[data-v-9213c542] {
  font-size: .32rem;
  height: .72rem;
  line-height: .6rem;
  border: none;
  outline: none
}

.pu-verify .card-id[data-v-9213c542]:after,.pu-verify .pv-top[data-v-9213c542]:after {
  content: "";
  display: block;
  width: 6.9rem;
  height: 1px;
  position: absolute;
  left: .3rem;
  bottom: 0;
  background: #e5e5e5;
  transform: scaleY(.5);
  transform-origin: 0 0
}

.pu-verify .login[data-v-9213c542] {
  font-size: .34rem;
  color: #fff;
  margin: .58rem auto 0;
  width: 6.5rem;
  height: .88rem;
  background: #ff8727;
  border-radius: .44rem;
  border: none
}

.pu-verify[data-v-9213c542] input::-webkit-input-placeholder {
  color: #a5a5a5!important;
  font-size: .36rem
}

.pu-verify[data-v-9213c542] input::-moz--input-placeholder {
  color: #a5a5a5!important;
  font-size: .36rem
}

.slider[data-v-9b708af4] {
  overflow: hidden
}

.slider-transition[data-v-9b708af4] {
  transition: all .5s
}

.silderItem[data-v-3fb8c81c] {
  float: left
}

.header[data-v-41276d48] {
  height: 3.125rem;
  line-height: 3.125rem;
  background: #fff;
  text-align: center
}

.panel[data-v-41276d48] {
  border: 1px solid #d2d2d2;
  background-color: #fff;
  border-radius: .1rem
}

.box-shadow[data-v-41276d48] {
  box-shadow: 1px 1px 1px hsla(0,0%,57.6%,.5)
}

#epi-head[data-v-41276d48] {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 11111
}

.details-header[data-v-41276d48] {
  height: 2.75rem;
  line-height: 2.75rem;
  z-index: 9;
  text-align: center;
  position: relative;
  font-size: .36rem;
  padding: 0 .2rem 0 0;
  display: flex;
  align-items: center;
  background: #fff
}

.details-back[data-v-41276d48] {
  display: flex;
  align-items: center
}

.details-title[data-v-41276d48] {
  flex: 1;
  font-size: .36rem;
  text-align: center
}

.backArrow[data-v-41276d48] {
  width: .6rem;
  margin-left: .2rem;
  margin-right: .1rem
}

.search[data-v-41276d48] {
  width: .6rem
}

.shadow[data-v-41276d48] {
  box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.05)
}

.header[data-v-6e58d0b5] {
  height: 3.125rem;
  line-height: 3.125rem;
  background: #fff;
  text-align: center
}

.panel[data-v-6e58d0b5] {
  border: 1px solid #d2d2d2;
  background-color: #fff;
  border-radius: .1rem
}

.box-shadow[data-v-6e58d0b5] {
  box-shadow: 1px 1px 1px hsla(0,0%,57.6%,.5)
}

#payConfirm-tip[data-v-6e58d0b5] {
  position: relative
}

