.loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9989;
  text-align: center;
  background: hsla(0,0%,98.8%,.1)
}

.loading-mask-content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.loading-mask-text {
  margin-top: -1rem;
  position: relative
}

.loading-mask-text img {
  width: 2.2rem;
  height: 2.2rem
}

.loading-mask-text .eqb {
  width: 1.8rem;
  background: rgba(34,34,34,.7);
  border-radius: .16rem;
  padding-top: .32rem;
  padding-bottom: .28rem;
  margin: 0 auto
}

.loading-mask-text .eqb img {
  width: .72rem;
  height: .72rem
}

.loading-mask-text .eqb .loading-text {
  margin-top: .16rem;
  font-size: .28rem;
  color: #fff;
  line-height: .28rem
}

.loading-mask-text .loading-text {
  margin-top: -.6rem;
  font-size: .24rem
}

.loading-mask-text .loading-icon {
  width: 2.16rem;
  height: 2.16rem;
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite
}

@-webkit-keyframes loading {
  to {
      transform: rotate(1turn)
  }
}

@keyframes loading {
  to {
      transform: rotate(1turn)
  }
}
